* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	width: 100%;
	height: 45px;
	background-color: #FFF;
	display: grid;

	img {
		display: block;
		align-self: center;
	}
}

.main {
	background-color: #bbf7d1;
	height: 100vh;
	display: grid;
}

.loginform {
	place-self: center;
	margin-top: -400px;
	color: #17a54d;

	&-sec1 {
		text-align: center;

		h1 {
			font-size: 1.3rem;
			margin-bottom: .5rem;
		}

		p {
			font-size: 1rem;
			margin-bottom: 4rem;
		}
	}

	&-sec2 {
		text-align: center;
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 2.4rem;
	}

	&-sec3 {
		background-color: #17a54d;
		padding: 3rem 5rem;
		border-radius: 10px;
		box-shadow: 5px 5px 5px rgba(126, 24, 32, .5);

		input[type=text],
		input[type=password] {
			display: block;
			padding: 10px 15px;
			margin: 1rem auto;
			background-color: #bbf7d1;
			border: none;
			font-size: .95rem;
			border-radius: 5px;
			color: #000;
		}

		::placeholder {
			color: #78909C;
			opacity: 1;
		}


		button {
			display: block;
			margin: 1.2rem auto 0;
			background-color: #7e1820;
			padding: 10px 28px;
			font-size: 1rem;
			border-radius: 5px;
			border: none;
		}

		&-wrong {
			color: #FFF;
			margin-top: -12px;
			font-size: .95rem;
		}

		&-attemps {
			margin-top: 1rem;
			color: #FFF;
			font-size: .95rem;
		}
	}
}

.dashboard {
	height: 100vh;
	display: grid;
	justify-items: center;
	grid-template-rows: 150px 1fr;
	text-align: center;
	background-color: #15803e;

	&-spacer {
		width: 100%;
	}

	&-title {
		font-size: 1.2rem;
		margin-bottom: 2rem;
		color: #FFF;
	}

	&-text {
		margin-bottom: 1.5rem;
		color: #FFF;
	}

	&-form {
		input {
			width: 90%;
			padding: 12px 15px;
			background-color: #FFF !important;
			color: #000;
			border-radius: 3px;
			border: none;
		}

		::placeholder {
			color: #000;
			font-size: 1.05em;
		}
	}

	&-cardContainer {
		&-non-existent {
			margin-top: 6rem;
			font-size: 1.1rem;
			color: #FFF;
		}
	}
}

.userCard {
	display: grid;
	background-color: #FFF;
	place-self: center;
	padding: 2rem;
	border-radius: 10px;
	margin-top: 3rem;
	box-shadow: 5px 5px 5px #7e1820;

	label {
		color: #000;
		font-size: 1.02rem;
		text-align: left;
		margin-bottom: 3px;
	}

	input {
		padding: 8px 12px;
		margin-bottom: 1rem;
		background-color: #EFEFEF4D;
	}
}